@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
    background-color: rgba(6, 82, 187, 1);
}
#menu{
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(2, 26, 59, 1);
    position: fixed;
}
a{
    text-decoration: none;
    color: white;
    text-align: center;
    transition: 0.2s;
    font-weight: bold;
}
a:hover{
    color: #F0471D;
}
#navmenu{
    display: flex;
    list-style: none;
    gap: 1.5rem;
}
#navmenu a{
    display: block;
    gap: 0.5rem;
}
#logo{
    font-weight: bold;
    color: white;
}
#api{
    width: 100%;
    height: 600px;
    padding-top: 4.97%;
    border: none;
}
#vid{
    width: 1050px; 
    height: 590px;
    border: 5px solid white;
    margin-left: 14.9%;
}
#maintxt{
    padding: 5%;
    padding-top: 10%;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}
#maintxt2{
    padding: 5%;
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}
#frase{
    background-color: rgba(4, 49, 112, 1);
    padding: 4%;
    margin-top: 3%;
    border-top: 5px solid white;
}
#frase p{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
#problema{
    padding-top: 9%;
    padding-left: 11%;
    padding-bottom: 5%;
}
#problema #problematxt{
    color: white;
    font-size: 50px;
    font-weight: 700;
}
#problema .problematxtinner{
    margin-top: 3%;
    width: 78.3%;
    color: white;
    font-size: 30px;
    font-weight: 400;
}
#solucao{
    padding-top: 9%;
    padding-left: 17%;
    padding-bottom: 7%;
    background-color: rgba(4, 49, 112, 1);
    border-top: 5px solid white;
}
#solucao #solucaotxt{
    color: white;
    font-size: 50px;
    padding-left: 67.8%;
    font-weight: 700;
}
#solucao .solucaotxtinner{
    margin-top: 3%;
    width: 87.5%;
    color: white;
    font-size: 30px;
    font-weight: 400;
    text-align: end;
}
#form{
    width: 100%;
    height: 700px;
}
#form #formulario{
    margin-top: -4%;
    margin-left: 32.6%;
}
#form #formulario .lbl{
    color: white;
    font-size: 25px;
    font-weight: 700;
    text-align: start;
    padding-top: 3%;
    padding-bottom: 3%;
}
#form #formulario .input{
    width: 504px;
    height: 43px;
    flex-shrink: 0;
    border: none;
    border-radius: 3px;
    background-color: rgba(2, 26, 59, 1);
    color: white;
    font-size: 17px;
    font-weight: 300;
}
#form #formulario #submit{
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(4, 49, 112, 1);
    border-radius: 5px;
    border: 5px solid white;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 25%;
    padding-right: 25%;
    margin-top: 12%;
    margin-left: 13.5%;
}
#membros{
    background-color: rgba(4, 49, 112, 1);
    border-top: 5px solid white;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
#membros #membrostbl{
    text-align: center;
    margin-left: 29%;
    margin-bottom: 10%;
}
#membros #membrostbl tr{
    outline: 5px solid rgba(4, 49, 112, 1);
}
#membros #membrostbl td{
    outline: 5px solid rgba(4, 49, 112, 1);
}
#membros #membrostbl th{
    outline: 5px solid rgba(4, 49, 112, 1);
}
#membros #membrostbl thead tr th{
    background-color: rgba(240, 71, 29, 1);
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    width: 200px;
}
#membros #membrostbl tr td{
    background-color: rgba(250, 178, 11, 1);
}
#membros #membrostbl td img{
    margin: 10%;
    width: 150px;
}
#footer{
    background-color: rgba(2, 26, 59, 1);
    width: 100%;
    height: 258px;
    bottom: 0;
    border-top: 5px solid white;
}
#footer img{
    margin-left: 47%;
    margin-top: 1.7%;
    width: 115px;
    height: 115px;
    filter: invert(100%) sepia(99%) saturate(4%) hue-rotate(202deg) brightness(106%);
}
#footer p{
    padding-top: 1.7%;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}